# .env.example
VITE_FIREBASE_API_KEY="AIzaSyC9E7vrITDV3gb2rOH926waNbmHi0pRKc0"
VITE_FIREBASE_AUTH_DOMAIN="my-portfolio-bef3a.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="my-portfolio-bef3a"
VITE_FIREBASE_STORAGE_BUCKET="my-portfolio-bef3a.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="867656551207"
VITE_FIREBASE_APP_ID="1:867656551207:web:f8bf3950232e915f69b702"
GEMINI_API_KEY= "G-6SCJM7N5K1"

# VITE_API_URL="https://server-4wgt.onrender.com"
VITE_API_URL="https://disparity-document-active.ngrok-free.dev/"
# VITE_API_URL="http://localhost:5000"
